<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Item</title>
</head>
<body>
    
    <form action="/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" placeholder="Product Name" id="name" required>
        <label for="price">Price (£)</label>
        <input type="number" name="price" id="price" placeholder="Product Price" min:"0" required>
        <br>
        <label for="stock"Stock>Stock</label>
        <input type="number" name="stock" id="stock" placeholder="Current Stock" min:"0">
        <br>
        <label for="category">Category</label>
        <select name="category" id="category" required>
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <button>Submit</button>
    </form>
    <form action="/products" method="GET">
        <button>Home</button>
    </form>
</body>
</html>