<% layout('layout/boilerplate') %> 
<h1>Register</h1>
<%- include('../partials/alerts') %> 
<form action="/login" method="post" class="needs-validation" novalidate>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
            <div class="invalid-feedback">
            Please put a username.
            </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
          <div class="invalid-feedback">
            Please put a password.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</form>